/* Google Fonts - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body{
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.slide-container{
  max-width: 1120px;
  width: 100%;
  padding: 40px 0;
}
.slide-content{
  margin: 0 40px;
  overflow: hidden;
}
.card{
  background-color: #FFF;
}
.image-content,
.card-content{
  display: flex;
  flex-direction: column;
  align-items: start;
}
.image-content{
  position: relative;
  height: 300px;
}
.card-content{
  padding: 0 10px 0 10px;
  border: 1px solid #d3d3d3;
  border-bottom: none;
  height: 115px;
}

.card-image{
  position: relative;
  height: 100%;
  width: 100%;
}
.card-image .card-img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  border: 1px solid #d3d3d3;
}
.name{
  font-size: 18px;
  font-weight: 500;
  color: #333;
}
.description{
  font-size: 14px;
  color: #707070;

}
.card-bottom {
  display: flex;
  justify-content: space-between;
  align-items:center;
  padding: 10px;
  border: 1px solid #d3d3d3;
}

.gig_btn-container {
  display: flex;
  width: 30px;
  height: 50px;
  
}

.gig_btn-container button {
  background-color: transparent;
  border: none;
  width: 40px;
  height: 50px;
  display: flex;
  align-items: center;
  cursor: pointer;

}

.gig_btn-container button svg {
  width: 30px;
  height: 20px;

}
.gig_btn-icon-container{
  width: 200px;
  height: 70px;
}
.gig_btn-container button:last-child {
  margin-right: 0;
}

.gig_btn-container button:hover {
  cursor: pointer;;
}


.gig__review-container svg {
  width: 20px;
  height: 20px;
}
.gig__review-container {
  color: #faca21;
  display: flex;
  align-items: start;
  gap: 0.6rem;
  border-left: 1px solid #d3d3d3;
  border-right: 1px solid #d3d3d3;
  padding-left: 10px;
}

.gig__review-container svg {
  fill: #faca21;
}

.gig__review-container span:last-child {
  color: #8c8c8c;
}

.gig__price-container {
  display: flex;
  flex-direction: column;
  align-items:end;
  margin-left: 50px;
  top: 2px;
  position: relative ;

}
.gig__price-container span:first-child {
  font-size: 8px;
  text-transform: uppercase;
}
.gig__price-container span:last-child {
  font-size: 25px;
  font-weight: 600;
  
}


.popup {
  position:absolute;
  top: 360px; 
  left: 50px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  padding: 5px 0;
  transition: background-color 0.3s;
  z-index: 1; 
}

/* .gig_add-create-list {
  display: flex; 
  width: 30px;
  height: 10px;

} */
/* 
.popup ul {
  list-style: none;
  padding: 0;
} */

/* .popup li {
  display: flex;
  align-items: center;
  padding: 8px 15px;
  width: 10px;
} */

.popup li {
  display: flex;
  align-items: center;
  padding: 0px 0px;
  width: 160px; 
  border: none;
}

.popup button {
  background: none;
  cursor: pointer;
  display: flex;
  width: 100%;
  align-items: center;
  border: 2px solid #d3d3d3;
  border-bottom: none;
}

.popup button svg {
  width: 100px;
  height: 20px;
  background-color: transparent;
}

/* .popup button span {
  font-size: 14px;
} */

/* .gig_btn-container .gig_add-create-list svg{
  width: 20px;
  height: 20px;
  

} */
/* .gig_add-create-list button{
  background-color: transparent;
  border: none;
  cursor: pointer;

  
} */


/* .profile__dropdown {
  position: absolute;
  top: 0px;

  align-items: start;

  border: 1px solid #d3d3d3;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;

}

.profile__dropdown-item {
  background-color: red;
  display: flex;
  position: relative;
  color: #333;
  text-decoration: none;
  transition: background-color 0.3s;
  border-bottom: 1px solid #d3d3d3; /* Add bottom border to each item
} */

.profile__dropdown {
  background-color: #ffffff;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  position: absolute;

}
.profile__dropdown-item {
  border: 1px solid #a8a8a8;
  padding: 1rem 2.5rem;
  min-width: 160px;
  height: 50px;
  transition: 0.2s ease-out;
}
.profile__dropdown-item:hover {
  background-color: #ebebeb;
}
.profile__dropdown-item button {
  width:100%;
  align-items: center;
  gap: .5rem;
  font-size: 12px;

}
.profile__dropdown-icon {
  max-width: 2rem;
  max-height: 2rem;
}
.js-gig-favorite-btn:active {
  color: #faca21;
  
}

.profile__dropdown-item:last-child {
  border-bottom: none;
}

.profile__dropdown-item:hover {
  background-color: #f5f5f5;
}

.button{
  border: none;
  font-size: 16px;
  color: #FFF;
  padding: 8px 16px;
  background-color: #4070F4;
  border-radius: 6px;
  margin: 14px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.button:hover{
  background: #265DF2;
}

.swiper-navBtn{
  color: #6E93f7;
  transition: color 0.3s ease;
}
.swiper-navBtn:hover{
  color: #4070F4;
}
.swiper-navBtn::before,
.swiper-navBtn::after{
  font-size: 35px;
}
.swiper-button-next{
  right: 0;
}
.swiper-button-prev{
  left: 0;
}
.swiper-pagination-bullet{
  background-color: #f76e6e;
  opacity: 1;
}
.swiper-pagination-bullet-active{
  background-color: #f44040;
}

@media screen and (max-width: 768px) {
  .slide-content{
    margin: 0 5px;
  }
  .swiper-navBtn{
    display: none;
  }
}